
#homepage-component{
    border:1px solid black;
    justify-content: center;
    display: flex;

    //width: min-content;
    
}

#sign-out{
    border: 1px solid black;
}
#homepage-link{
    border: 1px solid black;
}