.staff{
    border: 1px solid black;
    width: 80%;
}

.staff-line{
    margin-bottom: 34px;
    margin-left: 30px;
    margin-right: 30px;
}

.top-ledger-line{
    margin-top: 50px;
}

hr{
    //Line thickness
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.ledger-line{
    margin-bottom: 34px;
    margin-left: 906px;
    width: 75px;   
}