
.header-component{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    //width: min-content;
}

#sign-out{
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border: 1px solid black;

    &:hover{
        cursor: pointer;
    }
}
#homepage-link{
    border: 1px solid black;
    &:hover{
        cursor: pointer;
    }
}
