.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
    &:hover {
      cursor: pointer;

      & .content {
        opacity: 0.9;
      }
    }
    &.large{
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: darkgrey;
      transition: transform 0.25s ease-out;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: blue;
      }

      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }

  .menu-item:hover{
    transform: scale(1.05);
  }
